option domain-name "{{ domain }}";
option domain-name-servers {{ nameservers }};

default-lease-time {{ default_lease }};
max-lease-time {{ max_lease }};

ddns-update-style {{ ddns_update }};

authoritative;

log-facility {{ log_facility }};

subnet {{ subnet }}.0 netmask {{ netmask }} {
  range                     {{ begin_address }} {{ end_address }};
  option routers            {{ router }};
  option subnet-mask        {{ subnet_mask }};
  option broadcast-address  {{ broadcast }};
  option domain-search      "{{ search_domain }}";
  default-lease-time        {{ default_lease }};
  max-lease-time            {{ max_lease }};

}

{% for key, value in records.iteritems() %}
host {{ key }} {
  option host-name    "{{ key }}.{{ domain }}";
  hardware ethernet   {{ value.mac }};
  fixed-address       {{ subnet }}.{{ value.last }};
}
{% endfor %}
